
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  /* Change to any color, e.g., #fff for white */
  background: rgba(0, 0, 0, 0.40) !important;
  border-radius: 50% !important;
  padding: 10px !important;
  font-size: 1.7rem !important;
}

.gallery-img-wrapper{
  @apply relative w-full h-48 sm:h-56 rounded-lg overflow-hidden
}
.gallery-img-wrapper img{
  @apply transition-transform duration-500 ease-out
}
.gallery-img-wrapper:hover img{
  @apply scale-105
}
.gallery-img-wrapper:hover::after{
  content: "";
  @apply absolute inset-0 bg-black/10
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {

  /* Parent wrapper: enables depth */
  .perspective {
    perspective: 1000px;
  }

  /* Card base */
  .contact-card {
    @apply p-5 rounded-xl bg-black/40 border border-gray-800 flex items-start gap-4 transition-all duration-300 ease-out;
    transform-style: preserve-3d;
  }

  /* Hover: REAL 3D transform */
  .contact-card-hover:hover {
    transform: translateZ(80px) scale(1.1);
  }
}







/* Fade-in text animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.animation-delay-500 {
  animation-delay: 0.5s;
}

/* Slow image zoom */
@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}

.animate-zoomSlow {
  animation: zoomSlow 7s ease-in-out forwards;
}